# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Logs
*.log

# Temporary files
*.tmp
*.temp

# Directories
/temp/
/build/
/target/


/cogreactjs/node_modules
/cogreactjs/build


# IDEs
.idea/
*.iml
.vscode/
.classpath
.project
.settings/

# OS-specific files
.DS_Store
Thumbs.db

# gradle
.gradle/

allure-results/
curl/get
curl/post
spring-core/build.gradle
spring-core/build/*
spring-web/build/

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
